<!DOCTYPE html>
<html>
    <head>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />

        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous"
        />

        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />

        <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" />

        {% block head_styles %}
        {% endblock head_styles %}


        {% if title %}
            <title>{{ title }} - BenfordApp</title>
        {% else %}
            <title>BenfordApp</title>
        {% endif %}


        {#
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        #}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-color-1">
            <div class="container-fluid">
                <a class="navbar-brand fw-bolder fs-3" href="{{ url_for('public.index') }}">BenfordApp</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a
                            class="nav-link active fw-bolder fs-5"
                            aria-current="page"
                            href="{{ url_for('public.index') }}"
                        >
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        {% block content_1 %}
        {% endblock content_1 %}


        <div class="p-4 bg-color-1" style="min-height: 20vh">
            <div class="d-flex justify-content-evenly gap-5 m-auto">
                <div>
                    <h2 style="font-weight: 600">BenfordApp</h2>
                    <div class="text-start">
                        <a href="https://www.jdgc14.site/" class="subtitle-footer" target="_blank">
                            <h6 class="subtitle-footer">©2023 JDGC14.</h6>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h2 style="font-weight: 600">Contacto</h2>
                    <a href="https://www.linkedin.com/in/jdgc14/" target="_blank">
                        <i class="fa-brands fa-linkedin buttons-footer"></i>
                    </a>
                    <br />
                    <a href="https://github.com/jdgc14/" target="_blank">
                        <i class="fa-brands fa-github buttons-footer"></i>
                    </a>
                    <br />
                    <a href="mailto:joseojedapro@gmail.com" target="_blank">
                        <i class="fa-solid fa-envelope buttons-footer"></i>
                    </a>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
